<p id="notice"><%= notice %></p>

<h1>Your Chats</h1>

<table class="table">
  <thead>
  <tr>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @messages.each do |message| %>
    <tr>
      <% if message["sender_uid"] == current_user.uid %>
        <td>
          <div >
            <b><%= User.find(message["receiver_uid"]).name %>:</b>
            <div class="list-box">
              <% if message["is_read"] == "f" %>
                <small><%= message["message"] %><em class="text-primary"> &#10003;</em></small>
              <% else %>
                <small><%= message["message"] %><em class="text-primary"> &#10003;&#10003;</em></small></small>
              <% end %>
            </div>
          </div>
        </td>
        <td><%= link_to 'Show', message_path(message["receiver_uid"]), class: 'btn btn-sm btn-outline-primary' %></td>
      <% else %>
        <td>
          <div >
            <b><%= User.find(message["sender_uid"]).name %>:</b>
            <div class="list-box">
              <% if message["is_read"] == "f" %>
                <small style="font-weight: 600;"><%= message["message"] %></small>
              <% else %>
                <small><%= message["message"] %></small>
              <% end %>
            </div>
          </div>
        </td>
        <td><%= link_to 'Show', message_path(message["sender_uid"]), class: 'btn btn-sm btn-outline-primary'%></td>
      <% end %>

    </tr>
  <% end %>
  </tbody>
</table>

<br>

