<p id="notice"><%= notice %></p>

<h1>Your Chats</h1>

<table>
  <thead>
  <tr>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @messages.each do |message| %>
    <tr>
      <td><!%= message %></td>
      <td>
        <% if message["sender_uid"] == current_user.uid %>
          <%= User.find(message["receiver_uid"]).name %>:
          <%= message["message"] %>
          <%= link_to 'Show', message_path(message["receiver_uid"]) %>
        <% else %>
          <%= User.find(message["sender_uid"]).name %>:
          <%= message["message"] %>
          <%= link_to 'Show', message_path(message["sender_uid"]) %>
        <% end %>
      </td>

    </tr>
  <% end %>
  </tbody>
</table>

<br>

