
<div class="row"><h1 class="col-9">Profile Information</h1><div class="col-3">



</div></div>

<img class="rounded img-fluid w-200p" src="<%= @user.profile_photo %>"/>
<table class="table table-responsive">
<tr>
  <td>Phone:</td><td> <%= @user.phone %></td>
</tr>

<tr>
  <td>Gender:</td><td> <%= @user.gender %></td>
</tr>

<tr>
  <td>Sexuality:</td><td> <%= @user.sexuality %></td>
</tr>

<tr>
  <td>Birthday </td><td><%= @user.birthday.strftime("%Y-%m-%d") %></td>
</tr>

<tr>
  <td>Location:</td><td> <%= @user.location %></td>
</tr>

<tr>
  <td>Education:</td><td> <%= @user.education %></td>
</tr>

<tr>
  <td>Career:</td><td> <%= @user.career %></td>
</tr>

<tr>
  <td>Height:</td><td> <%= @user.height %></td>
</tr>

<br>
</table>

<h3>Prompts</h3>
<hr/>
<div class = "profile_photo">
  <table class="table table-responsive">
    <col style="width: 46%;" />
    <col style="width: 54%;" />
    <tr><td>What's most important to you?</td><td> <%= Prompt.where(uid: @user.uid).first.answer1 %></td> </tr>
    <tr><td>What's your favorite food?</td><td> <%= Prompt.where(uid: @user.uid).first.answer2 %></td> </tr>
    <tr><td>If you can work anywhere, where do you want to work?</td><td> <%= Prompt.where(uid: @user.uid).first.answer3 %></td> </tr>
  </table>
</div>

<h3>Interests</h3>
<hr/>
<div class = "profile_photo">
  <table class="table table-responsive" >
    <tr><td>Interest1:</td><td> <%= Interest.get_interests_by_uid(@user.uid).interest1 %></td></tr>
    <tr><td>Interest2:</td><td> <%= Interest.get_interests_by_uid(@user.uid).interest2 %></td></tr>
    <tr><td>Interest3:</td><td> <%= Interest.get_interests_by_uid(@user.uid).interest3 %></td></tr>
  </table>
</div>

<%= link_to "Edit", edit_user_path(@current_user), { class: "btn btn-secondary" }%>