
<div class="row"><h1 class="col-9">Profile Information</h1><div class="col-3">
  <%= link_to "Edit", edit_user_path(@current_user), { class: "btn btn-secondary" }%>


</div></div>
<table class="table table-responsive">
<tr>
  <td>Phone:</td><td> <%= @user.phone %></td>
</tr>

<tr>
  <td>Password:</td><td> <%= @user.password %></td>
</tr>

<tr>
  <td>Gender:</td><td> <%= @user.gender %></td>
</tr>

<tr>
  <td>Sexuality:</td><td> <%= @user.sexuality %></td>
</tr>

<tr>
  <td>Birthday </td><td><%= @user.birthday %></td>
</tr>

<tr>
  <td>Location:</td><td> <%= @user.location %></td>
</tr>

<tr>
  <td>Education:</td><td> <%= @user.education %></td>
</tr>

<tr>
  <td>Career:</td><td> <%= @user.career %></td>
</tr>

<tr>
  <td>Height:</td><td> <%= @user.height %></td>
</tr>

<tr>
  <td>Profile_photo:</td><td> <%= @user.profile_photo %></td>
</tr>

<br>
</table>