<h1>Here is the information you typed!</h1>

<div>
  Phone: <%= @user.phone %>
</div>

<div>
  Password: <%= @user.password %>
</div>

<div>
  Gender: <%= @user.gender %>
</div>

<div>
  Sexuality: <%= @user.sexuality %>
</div>

<div>
  Birthday <%= @user.birthday %>
</div>

<div>
  Location: <%= @user.location %>
</div>

<div>
  Education: <%= @user.education %>
</div>

<div>
  Career: <%= @user.career %>
</div>

<div>
  Height: <%= @user.height %>
</div>

<div>
  Profile_photo: <%= @user.profile_photo %>
</div>

<div>
  Created_time: <%= @user.created_at %>
</div>
