<p id="notice"><%= notice %></p>

<h1>Your Matches</h1>
<br>
<br>

<div class="match">
  <% @new_matches.each do |new_match| %>
    <div class="card">
      <% if User.find(new_match["uid"]).profile_photo.present? %>
        <%= image_tag( User.find(new_match["uid"]).profile_photo, :alt => "Profile Pic", :class => "card-img-top") -%>
      <% else %>
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" class="card-img-top" alt="Profile Photo">
      <% end %>
      <div class="card-body">
        <p class="card-text text-primary">New</p>
        <h5 class="card-title" style="display:inline-block;"><strong><%= new_match["name"] %></strong> &nbsp</h5><p class="card-text" style="display:inline-block; justify-content: end;"><%= new_match["location"] %>, <%= new_match["career"] %> &nbsp&nbsp&nbsp</p><%= link_to 'detail', matchmake_path(new_match["uid"]), class: 'btn btn-sm btn-outline-primary', style: 'display:inline-block;' %>
        <p class="card-text"><strong>Interests:</strong> <br>1. <%= Interest.get_interests_by_uid(new_match["uid"]).interest1%> <br>2. <%= Interest.get_interests_by_uid(new_match["uid"]).interest2%> <br>3. <%= Interest.get_interests_by_uid(new_match["uid"]).interest3%></p>
      </div>
    </div>
  <% end %>

  <% @history_matches.each do |old_match| %>
    <div class="card">
      <% if User.find(old_match).profile_photo.present? %>
        <%= image_tag( User.find(old_match).profile_photo, :alt => "Profile Pic", :class => "card-img-top") -%>
      <% else %>
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" class="card-img-top" alt="Profile Photo">
      <% end %>
      <div class="card-body">
        <p class="card-text">Matched</p>
        <h5 class="card-title" style="display:inline-block;"><strong><%= User.find(old_match).name %></strong> &nbsp</h5><p class="card-text" style="display:inline-block; justify-content: end;"><%= User.find(old_match).location %>, <%= User.find(old_match).career %> &nbsp&nbsp&nbsp</p><%= link_to 'detail', matchmake_path(old_match), class: 'btn btn-sm btn-outline-primary', style: 'display:inline-block;' %>
        <p class="card-text"><strong>Interests:</strong> <br>1. <%= Interest.get_interests_by_uid(old_match).interest1%> <br>2. <%= Interest.get_interests_by_uid(old_match).interest2%> <br>3. <%= Interest.get_interests_by_uid(old_match).interest3%></p>
      </div>
    </div>
  <% end %>
</div>

<br>
<%= link_to 'Direct to Message List', messages_path, class: 'btn btn-sm btn-outline-primary' %>
<!%= link_to 'New User', new_user_path %>
