<h2>Profile of <em><%= @user.name %></em></h2>

<img class="rounded img-fluid w-200p" src="<%= @user.profile_photo %>"/>
<table class="table table-responsive">
  <tr>
    <td>Phone:</td><td> <%= @user.phone %></td>
  </tr>

  <tr>
    <td>Gender:</td><td> <%= @user.gender %></td>
  </tr>

  <tr>
    <td>Sexuality:</td><td> <%= @user.sexuality %></td>
  </tr>

  <tr>
    <td>Birthday </td><td><%= @user.birthday.strftime("%Y-%m-%d") %></td>
  </tr>

  <tr>
    <td>Location:</td><td> <%= @user.location %></td>
  </tr>

  <tr>
    <td>Education:</td><td> <%= @user.education %></td>
  </tr>

  <tr>
    <td>Career:</td><td> <%= @user.career %></td>
  </tr>

  <tr>
    <td>Height:</td><td> <%= @user.height %></td>
  </tr>

  <tr>
    <td>What's most important to you?</td><td> <%= @prompt.answer1 %></td>
  </tr>

  <tr>
    <td>What's your favorite food?</td><td> <%= @prompt.answer2 %></td>
  </tr>

  <tr>
    <td>If you can work anywhere, where do you want to work?</td><td> <%= @prompt.answer3 %></td>
  </tr>

  <tr>
    <td>Interest1:</td><td> <%= @interest.interest1 %></td>
  </tr>

  <tr>
    <td>Interest2:</td><td> <%= @interest.interest2 %></td>
  </tr>

  <tr>
    <td>Interest3:</td><td> <%= @interest.interest3 %></td>
  </tr>
  <br>
</table>

<h3>Interests</h3>
<hr/>
<div class = "profile_photo">
  Interest1:</td><td> <%= @interest.interest1 %> <br>
  Interest2:</td><td> <%= @interest.interest2 %> <br>
  Interest3:</td><td> <%= @interest.interest3 %>
</div>

<%= link_to 'Send', message_path(@user.uid), class: 'btn btn-sm btn-outline-primary col' %>
<%= link_to 'Back', matchmake_index_path, class: 'btn btn-sm btn-outline-primary col' %>